<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body > 
    <div style="padding: 10%; border: solid; background-color: crimson; margin-top: 8%;">
        <form action="/continue" method="post">
            <div style=" text-align: center;">
                <h1>
                    <P>NAME : ANUSHA ZUABIR  ROLLNUMBER 20I-2454
                     <br>SECTION : BS-DS-N <br>
                     DATE : 27-4-2023 
                     ASSIGNMENT # 4 </P>
                </h1>
                <button type="submit">CONTINUE</button>
    
        </form>
    </div>
    
    

</div>
</body>
</html>