<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color: crimson; padding-top: 5%; margin: 15%; padding-bottom: 5%;  border: slategrey;">
        <h1 style="text-align: center ;">LOGIN TO USE BMI CALCULATOR </h1>
        <form action="/login" method="post" style="text-align: center;">
            <div style="border: solid; width: 50%; margin-left: 25%;" >
                <label>username:</label>
                <input type="text" id="username" placeholder="Enter username" name="username" required style="margin: 1%;">
                <br>
                
    
                <label>password:</label>
                <input type="password" id="password" placeholder="Enter password" name="password" required  style="margin:1%;">
                <br>
                <button class="btn"
                type="submit">login</button>
            </div>
           
    
        </form>
    </div>
   
</body>
</html>